$font-header: 'Circular-Bold', sans-serif;
$font-body: 'Circular', sans-serif;
$primary-blue: #077DD5;
$primary-eggshell: #73C3FF;

$nav-height: 10vh;
$prefixLink: '';

$width-increments: 300px;

@mixin transition($props) {
   transition: $props;
  -ms-transition: $props;
  -moz-transition: $props;
  -webkit-transition: $props;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular-Book.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('./fonts/Circular-Bold.ttf')  format('truetype'),
}
