$font-header: 'Akkurat-Bold', sans-serif;
$font-body: 'Akkurat', sans-serif;
$primary-blue: #077DD5;
$primary-eggshell: #73C3FF;

$default-shadow: 0 1px 3px rgb2a(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$nav-height: 88px;
$prefixLink: '';

$width-increments: 300px;

@mixin transition($props) {
   transition: $props;
  -ms-transition: $props;
  -moz-transition: $props;
  -webkit-transition: $props;
}

@font-face {
  font-family: 'Akkurat';
  src: url('./fonts/AkkuratProRegular.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Akkurat-Bold';
  src: url('./fonts/AkkuratPro-Bold.ttf')  format('truetype'),
}
