@import "./vendors/normalize";
@import "./variables";

.endorsements,
.about,
.landing {
  background: -webkit-linear-gradient(bottom left, $primary-blue 0%, $primary-eggshell 100%);
  background: -o-linear-gradient(bottom left, $primary-blue 0%, $primary-eggshell 100%);
  background: linear-gradient(to top right, $primary-blue 0%, $primary-eggshell 100%);
}

.content {
  padding: 7rem;
}

.highlight {
  transition: all 0.5s ease;
  border-bottom: 2px solid white;
  padding-bottom: 1px;
  &:hover {
    color: $primary-eggshell;
    padding: 6px 4px 4px 4px;
    background-color: white;
    text-decoration: none;
  }
}

@import "./navbar";
@import "./pages/landing";
@import "./pages/about";
@import "./pages/endorsements";
