@import "./vendors/normalize";

$font-header: 'Circular-Bold', sans-serif;
$font-body: 'Circular', sans-serif;
$primary-blue: #2196F3;

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular-Book.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('./fonts/Circular-Bold.ttf')  format('truetype'),
}

html, body {
  height: 100%;
  margin: 0rem;
  padding: 0rem;
}

.header-container {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  .header {
    flex: 1;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-family: $font-header;
    color: $primary-blue;
  }
  .search {
    flex: 2;
    input {
      outline: 0;
      text-decoration: none;
      border: 0;
      border-bottom: 1px solid $primary-blue;
      font-size: 1rem;
      padding-bottom: 0.25rem;
    }
  }
}

.map-container {
  height: 90vh;
  #map {
    height: 100%;
  }
}
