.search-container {
  display: flex;
  align-items: center;

  padding: 1rem 1rem 0.8rem 1rem;
  width: 300px;
  border-radius: 5px;

  background-color: white;
  color: $primary-blue;
  border-bottom: 2px solid white;
  box-shadow: $default-shadow;

  input {
    outline: 0;
    text-decoration: 0;
    border: 0;
    width: 100%;

    font-family: $font-body;
  }

  .icon {
    height: 15px;
    width: 15px;
    margin-right: 1rem;
  }
}

.endorse-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4.5rem;
}

.endorse-card {
  width: 21%;
  margin-bottom: 4.5rem;
  border-radius: 5px;
  box-shadow: $default-shadow;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .metadata {
    color: #757575;
    font-family: $font-header;
    padding: 1rem;

    .name {
      font-size: 1.2rem;
      margin-top: 1rem;
    }

    .position {
      margin-bottom: 1.8rem;
    }
  }
}

@media screen and (max-width: 3 * $width-increments) {
  .endorsements {
    display: block;
  }
  .endorse-card {
    width: 43%;
  }
}

@media screen and (max-width: 2 * $width-increments) {
  .search-container {
    width: calc(100% - 2rem);
  }
  .endorse-card {
    width: 100%;
  }
}
